extends partials/templates/template.pug

block content
  +b.page-header
      .container
        .row
          .col-xs-12
            +e.H1.title О компании
            +e.P.text We knew that by aligning our incentives with our customers, without compromise, we could build something truly significant.
            +e.btn-inner
              +e.A.btn(href="#") Share