extends partials/templates/template.pug

block content
  include partials/components/solutions.pug
  include partials/components/features.pug
  include partials/components/news.pug
  include partials/components/gallery.pug