extends partials/templates/template.pug

block content
  +b.page-header
      .container
        .row
          .col-xs-12
            +e.H1.title Услуги
            +e.P.text Experts are behind every choice we make.
            +e.btn-inner
              +e.A.btn(href="#") Share
  include partials/components/page-services.pug