.footer {
  color: #4f5d6b;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.55em;
  padding: 45px 0 20px;
  a {
  color: #4f5d6b;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.55em;
    &:hover {
      opacity: 0.85;
    }
  }
  &__list {
    list-style-type: none;
    padding-left: 0;
  }
  &__item {
    padding: 5px 0;
  }
  &__title {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
  }
  &__form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  &__input {
    width: 70%;
    height: 45px;
    font-size: 16px;
    outline: none;
    padding-left: 7px;
  }
  &__btn {
    width: 29%;
    background-color: #00c96d;
    text-transform: capitalize;
    color: #fff;
    outline: none;
    border: none;
  }
}