//Form-states

.has-success{
  input, textarea{
    border: 3px solid $success;
    box-shadow: none;
  }
}
.has-error{
  input, textarea{
    border: 3px solid $error;
    box-shadow: none;
  }
  .help-block{
    display: block;
  }
}
.help-block{
  display: none;
  font-size: $font-size-small;
}

.form-group{
  margin-bottom: 20px;
}

.field-question-recaptcha .g-recaptcha > div {
  margin: 0 auto
}