//Form
.form-inner {
  padding: 30px 0 30px;
  background-color: #f8f8f8;
  .row {
    justify-content: center;
  }
  &__tabs {
    width: 65%;
    @include mq($from:xs, $until:xl){
      width: 90%;
    }
  }
}
.form{
  background-color: #fff;
  text-align: center;
  width: 100%;
  z-index: 1000;
  padding: 20px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &__form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap:  wrap;
  }

  &__title {
    margin: 20px;
    text-transform: uppercase;
  }

  &__input {
    border: none;
  }
}

.form--application {
  margin-top: 20px;

  h3 {
    display: none;
  }
  p {
    font-size: 17px;
    color: #21242b;
    color: #666e70;
    line-height: 1.8;
  }

  .form-group{
    width: 100%;
    padding: 10px;
    margin-bottom: 7px;
    @include mq($from:xs, $until:md){
      width: 100%;
    }
   .form__input,
   .form__country-list,
   .form__region-list {
     width: 100%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 45px;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
   }
  }

  .form-group:nth-child(5) {
    width: 100%;
  }

  .btn {
    display: inline-block;
    outline: none;
    width: 100%;
    border: none;
    color: #fff;
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    transition: .5s;
    background-color: $green;

    &:hover {
      opacity: .8;
    }
  }
}










