.place-to-work {
  background-image: url(../img/cat-bgr.jpg);
  background-size: cover;
  padding: 70px 0;
  margin-top: 30px;
  &__wrapper {
    background-color: #fff;
    padding: 25px;
  }
  &__title {
    line-height: 35px;
    font-weight: 300;
    font-style: normal;
    color: #222;
    font-size: 22px;
  }
  &__text {
    line-height: 27px;
    font-weight: 300;
    font-style: normal;
    color: #343e47;
    font-size: 17px;
  }
  &__link {
    font-size: 18px;
    color: $dark-green;
    transition: .3s;
    &:hover {
      color: #222;
    }
  }
}