.proposal {
  background-image: url(../img/pattern.png);
  background-position: center;
  background-repeat: repeat;
  background-color: #354a5e;
  color: #fff;
  padding: 50px 0;
  font-size: 20px;
  line-height: 1.55em;

  .row {
    justify-content: center;
    align-items: center;
  }

  &__text {
    a {
      color: #fff;
      border-bottom: 1px solid rgba(255,255,255,0.3);
      transition: .2;
      &:hover {
        opacity: .8;
      }
    }
  }

  &__btn {
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    background-color: #00c96d;
    display: inline-block;
    color: #fff;
    padding: 10px 24px;
    border-radius: 2px;
      transition: .3;
      &:hover {
        opacity: .8;
    }
    @include mq($from:xs, $until:xl){
      margin-top: 10px;
    }
  }
}