/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-cart-name: 's-cart';
$s-cart-x: 0px;
$s-cart-y: 47px;
$s-cart-offset-x: 0px;
$s-cart-offset-y: -47px;
$s-cart-width: 30px;
$s-cart-height: 30px;
$s-cart-total-width: 222px;
$s-cart-total-height: 103px;
$s-cart-image: '../img/png-sprite.png';
$s-cart: (0px, 47px, 0px, -47px, 30px, 30px, 222px, 103px, '../img/png-sprite.png', 's-cart', );
$s-hamburger-close-name: 's-hamburger-close';
$s-hamburger-close-x: 90px;
$s-hamburger-close-y: 47px;
$s-hamburger-close-offset-x: -90px;
$s-hamburger-close-offset-y: -47px;
$s-hamburger-close-width: 21px;
$s-hamburger-close-height: 21px;
$s-hamburger-close-total-width: 222px;
$s-hamburger-close-total-height: 103px;
$s-hamburger-close-image: '../img/png-sprite.png';
$s-hamburger-close: (90px, 47px, -90px, -47px, 21px, 21px, 222px, 103px, '../img/png-sprite.png', 's-hamburger-close', );
$s-hamburger-name: 's-hamburger';
$s-hamburger-x: 60px;
$s-hamburger-y: 47px;
$s-hamburger-offset-x: -60px;
$s-hamburger-offset-y: -47px;
$s-hamburger-width: 30px;
$s-hamburger-height: 24px;
$s-hamburger-total-width: 222px;
$s-hamburger-total-height: 103px;
$s-hamburger-image: '../img/png-sprite.png';
$s-hamburger: (60px, 47px, -60px, -47px, 30px, 24px, 222px, 103px, '../img/png-sprite.png', 's-hamburger', );
$s-logotype-name: 's-logotype';
$s-logotype-x: 0px;
$s-logotype-y: 0px;
$s-logotype-offset-x: 0px;
$s-logotype-offset-y: 0px;
$s-logotype-width: 222px;
$s-logotype-height: 47px;
$s-logotype-total-width: 222px;
$s-logotype-total-height: 103px;
$s-logotype-image: '../img/png-sprite.png';
$s-logotype: (0px, 0px, 0px, 0px, 222px, 47px, 222px, 103px, '../img/png-sprite.png', 's-logotype', );
$s-mail-name: 's-mail';
$s-mail-x: 134px;
$s-mail-y: 47px;
$s-mail-offset-x: -134px;
$s-mail-offset-y: -47px;
$s-mail-width: 21px;
$s-mail-height: 13px;
$s-mail-total-width: 222px;
$s-mail-total-height: 103px;
$s-mail-image: '../img/png-sprite.png';
$s-mail: (134px, 47px, -134px, -47px, 21px, 13px, 222px, 103px, '../img/png-sprite.png', 's-mail', );
$s-next-name: 's-next';
$s-next-x: 155px;
$s-next-y: 47px;
$s-next-offset-x: -155px;
$s-next-offset-y: -47px;
$s-next-width: 4px;
$s-next-height: 7px;
$s-next-total-width: 222px;
$s-next-total-height: 103px;
$s-next-image: '../img/png-sprite.png';
$s-next: (155px, 47px, -155px, -47px, 4px, 7px, 222px, 103px, '../img/png-sprite.png', 's-next', );
$s-prev-name: 's-prev';
$s-prev-x: 159px;
$s-prev-y: 47px;
$s-prev-offset-x: -159px;
$s-prev-offset-y: -47px;
$s-prev-width: 4px;
$s-prev-height: 7px;
$s-prev-total-width: 222px;
$s-prev-total-height: 103px;
$s-prev-image: '../img/png-sprite.png';
$s-prev: (159px, 47px, -159px, -47px, 4px, 7px, 222px, 103px, '../img/png-sprite.png', 's-prev', );
$s-search-name: 's-search';
$s-search-x: 111px;
$s-search-y: 47px;
$s-search-offset-x: -111px;
$s-search-offset-y: -47px;
$s-search-width: 23px;
$s-search-height: 18px;
$s-search-total-width: 222px;
$s-search-total-height: 103px;
$s-search-image: '../img/png-sprite.png';
$s-search: (111px, 47px, -111px, -47px, 23px, 18px, 222px, 103px, '../img/png-sprite.png', 's-search', );
$s-services-icon-name: 's-services-icon';
$s-services-icon-x: 0px;
$s-services-icon-y: 77px;
$s-services-icon-offset-x: 0px;
$s-services-icon-offset-y: -77px;
$s-services-icon-width: 26px;
$s-services-icon-height: 26px;
$s-services-icon-total-width: 222px;
$s-services-icon-total-height: 103px;
$s-services-icon-image: '../img/png-sprite.png';
$s-services-icon: (0px, 77px, 0px, -77px, 26px, 26px, 222px, 103px, '../img/png-sprite.png', 's-services-icon', );
$s-stock-icon-name: 's-stock-icon';
$s-stock-icon-x: 30px;
$s-stock-icon-y: 47px;
$s-stock-icon-offset-x: -30px;
$s-stock-icon-offset-y: -47px;
$s-stock-icon-width: 30px;
$s-stock-icon-height: 30px;
$s-stock-icon-total-width: 222px;
$s-stock-icon-total-height: 103px;
$s-stock-icon-image: '../img/png-sprite.png';
$s-stock-icon: (30px, 47px, -30px, -47px, 30px, 30px, 222px, 103px, '../img/png-sprite.png', 's-stock-icon', );
$spritesheet-width: 222px;
$spritesheet-height: 103px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-cart, $s-hamburger-close, $s-hamburger, $s-logotype, $s-mail, $s-next, $s-prev, $s-search, $s-services-icon, $s-stock-icon, );
$spritesheet: (222px, 103px, '../img/png-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
