/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-advantages-icon-name: 's-advantages-icon';
$s-advantages-icon-x: 260px;
$s-advantages-icon-y: 116px;
$s-advantages-icon-offset-x: -260px;
$s-advantages-icon-offset-y: -116px;
$s-advantages-icon-width: 58px;
$s-advantages-icon-height: 58px;
$s-advantages-icon-total-width: 357px;
$s-advantages-icon-total-height: 316px;
$s-advantages-icon-image: '../img/png-sprite.png';
$s-advantages-icon: (260px, 116px, -260px, -116px, 58px, 58px, 357px, 316px, '../img/png-sprite.png', 's-advantages-icon', );
$s-advantages01-name: 's-advantages01';
$s-advantages01-x: 100px;
$s-advantages01-y: 100px;
$s-advantages01-offset-x: -100px;
$s-advantages01-offset-y: -100px;
$s-advantages01-width: 100px;
$s-advantages01-height: 100px;
$s-advantages01-total-width: 357px;
$s-advantages01-total-height: 316px;
$s-advantages01-image: '../img/png-sprite.png';
$s-advantages01: (100px, 100px, -100px, -100px, 100px, 100px, 357px, 316px, '../img/png-sprite.png', 's-advantages01', );
$s-advantages02-name: 's-advantages02';
$s-advantages02-x: 0px;
$s-advantages02-y: 0px;
$s-advantages02-offset-x: 0px;
$s-advantages02-offset-y: 0px;
$s-advantages02-width: 100px;
$s-advantages02-height: 100px;
$s-advantages02-total-width: 357px;
$s-advantages02-total-height: 316px;
$s-advantages02-image: '../img/png-sprite.png';
$s-advantages02: (0px, 0px, 0px, 0px, 100px, 100px, 357px, 316px, '../img/png-sprite.png', 's-advantages02', );
$s-advantages03-name: 's-advantages03';
$s-advantages03-x: 100px;
$s-advantages03-y: 0px;
$s-advantages03-offset-x: -100px;
$s-advantages03-offset-y: 0px;
$s-advantages03-width: 100px;
$s-advantages03-height: 100px;
$s-advantages03-total-width: 357px;
$s-advantages03-total-height: 316px;
$s-advantages03-image: '../img/png-sprite.png';
$s-advantages03: (100px, 0px, -100px, 0px, 100px, 100px, 357px, 316px, '../img/png-sprite.png', 's-advantages03', );
$s-certification-icon-name: 's-certification-icon';
$s-certification-icon-x: 116px;
$s-certification-icon-y: 200px;
$s-certification-icon-offset-x: -116px;
$s-certification-icon-offset-y: -200px;
$s-certification-icon-width: 58px;
$s-certification-icon-height: 58px;
$s-certification-icon-total-width: 357px;
$s-certification-icon-total-height: 316px;
$s-certification-icon-image: '../img/png-sprite.png';
$s-certification-icon: (116px, 200px, -116px, -200px, 58px, 58px, 357px, 316px, '../img/png-sprite.png', 's-certification-icon', );
$s-face-consult-name: 's-face-consult';
$s-face-consult-x: 200px;
$s-face-consult-y: 60px;
$s-face-consult-offset-x: -200px;
$s-face-consult-offset-y: -60px;
$s-face-consult-width: 56px;
$s-face-consult-height: 62px;
$s-face-consult-total-width: 357px;
$s-face-consult-total-height: 316px;
$s-face-consult-image: '../img/png-sprite.png';
$s-face-consult: (200px, 60px, -200px, -60px, 56px, 62px, 357px, 316px, '../img/png-sprite.png', 's-face-consult', );
$s-feat-icon-name: 's-feat-icon';
$s-feat-icon-x: 116px;
$s-feat-icon-y: 258px;
$s-feat-icon-offset-x: -116px;
$s-feat-icon-offset-y: -258px;
$s-feat-icon-width: 56px;
$s-feat-icon-height: 56px;
$s-feat-icon-total-width: 357px;
$s-feat-icon-total-height: 316px;
$s-feat-icon-image: '../img/png-sprite.png';
$s-feat-icon: (116px, 258px, -116px, -258px, 56px, 56px, 357px, 316px, '../img/png-sprite.png', 's-feat-icon', );
$s-fire-safety-icon-name: 's-fire-safety-icon';
$s-fire-safety-icon-x: 0px;
$s-fire-safety-icon-y: 200px;
$s-fire-safety-icon-offset-x: 0px;
$s-fire-safety-icon-offset-y: -200px;
$s-fire-safety-icon-width: 58px;
$s-fire-safety-icon-height: 58px;
$s-fire-safety-icon-total-width: 357px;
$s-fire-safety-icon-total-height: 316px;
$s-fire-safety-icon-image: '../img/png-sprite.png';
$s-fire-safety-icon: (0px, 200px, 0px, -200px, 58px, 58px, 357px, 316px, '../img/png-sprite.png', 's-fire-safety-icon', );
$s-hamburger-close-name: 's-hamburger-close';
$s-hamburger-close-x: 290px;
$s-hamburger-close-y: 232px;
$s-hamburger-close-offset-x: -290px;
$s-hamburger-close-offset-y: -232px;
$s-hamburger-close-width: 21px;
$s-hamburger-close-height: 21px;
$s-hamburger-close-total-width: 357px;
$s-hamburger-close-total-height: 316px;
$s-hamburger-close-image: '../img/png-sprite.png';
$s-hamburger-close: (290px, 232px, -290px, -232px, 21px, 21px, 357px, 316px, '../img/png-sprite.png', 's-hamburger-close', );
$s-hamburger-name: 's-hamburger';
$s-hamburger-x: 260px;
$s-hamburger-y: 232px;
$s-hamburger-offset-x: -260px;
$s-hamburger-offset-y: -232px;
$s-hamburger-width: 30px;
$s-hamburger-height: 24px;
$s-hamburger-total-width: 357px;
$s-hamburger-total-height: 316px;
$s-hamburger-image: '../img/png-sprite.png';
$s-hamburger: (260px, 232px, -260px, -232px, 30px, 24px, 357px, 316px, '../img/png-sprite.png', 's-hamburger', );
$s-industrial-safety-icon-name: 's-industrial-safety-icon';
$s-industrial-safety-icon-x: 174px;
$s-industrial-safety-icon-y: 200px;
$s-industrial-safety-icon-offset-x: -174px;
$s-industrial-safety-icon-offset-y: -200px;
$s-industrial-safety-icon-width: 58px;
$s-industrial-safety-icon-height: 58px;
$s-industrial-safety-icon-total-width: 357px;
$s-industrial-safety-icon-total-height: 316px;
$s-industrial-safety-icon-image: '../img/png-sprite.png';
$s-industrial-safety-icon: (174px, 200px, -174px, -200px, 58px, 58px, 357px, 316px, '../img/png-sprite.png', 's-industrial-safety-icon', );
$s-iso-icon-name: 's-iso-icon';
$s-iso-icon-x: 260px;
$s-iso-icon-y: 0px;
$s-iso-icon-offset-x: -260px;
$s-iso-icon-offset-y: 0px;
$s-iso-icon-width: 58px;
$s-iso-icon-height: 58px;
$s-iso-icon-total-width: 357px;
$s-iso-icon-total-height: 316px;
$s-iso-icon-image: '../img/png-sprite.png';
$s-iso-icon: (260px, 0px, -260px, 0px, 58px, 58px, 357px, 316px, '../img/png-sprite.png', 's-iso-icon', );
$s-loupe-name: 's-loupe';
$s-loupe-x: 200px;
$s-loupe-y: 180px;
$s-loupe-offset-x: -200px;
$s-loupe-offset-y: -180px;
$s-loupe-width: 19px;
$s-loupe-height: 19px;
$s-loupe-total-width: 357px;
$s-loupe-total-height: 316px;
$s-loupe-image: '../img/png-sprite.png';
$s-loupe: (200px, 180px, -200px, -180px, 19px, 19px, 357px, 316px, '../img/png-sprite.png', 's-loupe', );
$s-map-icon-name: 's-map-icon';
$s-map-icon-x: 200px;
$s-map-icon-y: 0px;
$s-map-icon-offset-x: -200px;
$s-map-icon-offset-y: 0px;
$s-map-icon-width: 60px;
$s-map-icon-height: 60px;
$s-map-icon-total-width: 357px;
$s-map-icon-total-height: 316px;
$s-map-icon-image: '../img/png-sprite.png';
$s-map-icon: (200px, 0px, -200px, 0px, 60px, 60px, 357px, 316px, '../img/png-sprite.png', 's-map-icon', );
$s-news-prefix-name: 's-news-prefix';
$s-news-prefix-x: 219px;
$s-news-prefix-y: 180px;
$s-news-prefix-offset-x: -219px;
$s-news-prefix-offset-y: -180px;
$s-news-prefix-width: 20px;
$s-news-prefix-height: 14px;
$s-news-prefix-total-width: 357px;
$s-news-prefix-total-height: 316px;
$s-news-prefix-image: '../img/png-sprite.png';
$s-news-prefix: (219px, 180px, -219px, -180px, 20px, 14px, 357px, 316px, '../img/png-sprite.png', 's-news-prefix', );
$s-other-services-icon-name: 's-other-services-icon';
$s-other-services-icon-x: 0px;
$s-other-services-icon-y: 258px;
$s-other-services-icon-offset-x: 0px;
$s-other-services-icon-offset-y: -258px;
$s-other-services-icon-width: 58px;
$s-other-services-icon-height: 58px;
$s-other-services-icon-total-width: 357px;
$s-other-services-icon-total-height: 316px;
$s-other-services-icon-image: '../img/png-sprite.png';
$s-other-services-icon: (0px, 258px, 0px, -258px, 58px, 58px, 357px, 316px, '../img/png-sprite.png', 's-other-services-icon', );
$s-product-testing-icon-name: 's-product-testing-icon';
$s-product-testing-icon-x: 200px;
$s-product-testing-icon-y: 122px;
$s-product-testing-icon-offset-x: -200px;
$s-product-testing-icon-offset-y: -122px;
$s-product-testing-icon-width: 58px;
$s-product-testing-icon-height: 58px;
$s-product-testing-icon-total-width: 357px;
$s-product-testing-icon-total-height: 316px;
$s-product-testing-icon-image: '../img/png-sprite.png';
$s-product-testing-icon: (200px, 122px, -200px, -122px, 58px, 58px, 357px, 316px, '../img/png-sprite.png', 's-product-testing-icon', );
$s-quality-system-icon-name: 's-quality-system-icon';
$s-quality-system-icon-x: 260px;
$s-quality-system-icon-y: 174px;
$s-quality-system-icon-offset-x: -260px;
$s-quality-system-icon-offset-y: -174px;
$s-quality-system-icon-width: 58px;
$s-quality-system-icon-height: 58px;
$s-quality-system-icon-total-width: 357px;
$s-quality-system-icon-total-height: 316px;
$s-quality-system-icon-image: '../img/png-sprite.png';
$s-quality-system-icon: (260px, 174px, -260px, -174px, 58px, 58px, 357px, 316px, '../img/png-sprite.png', 's-quality-system-icon', );
$s-review-icon-name: 's-review-icon';
$s-review-icon-x: 260px;
$s-review-icon-y: 58px;
$s-review-icon-offset-x: -260px;
$s-review-icon-offset-y: -58px;
$s-review-icon-width: 58px;
$s-review-icon-height: 58px;
$s-review-icon-total-width: 357px;
$s-review-icon-total-height: 316px;
$s-review-icon-image: '../img/png-sprite.png';
$s-review-icon: (260px, 58px, -260px, -58px, 58px, 58px, 357px, 316px, '../img/png-sprite.png', 's-review-icon', );
$s-review-img-name: 's-review-img';
$s-review-img-x: 0px;
$s-review-img-y: 100px;
$s-review-img-offset-x: 0px;
$s-review-img-offset-y: -100px;
$s-review-img-width: 100px;
$s-review-img-height: 100px;
$s-review-img-total-width: 357px;
$s-review-img-total-height: 316px;
$s-review-img-image: '../img/png-sprite.png';
$s-review-img: (0px, 100px, 0px, -100px, 100px, 100px, 357px, 316px, '../img/png-sprite.png', 's-review-img', );
$s-rospotreb-icon-name: 's-rospotreb-icon';
$s-rospotreb-icon-x: 58px;
$s-rospotreb-icon-y: 200px;
$s-rospotreb-icon-offset-x: -58px;
$s-rospotreb-icon-offset-y: -200px;
$s-rospotreb-icon-width: 58px;
$s-rospotreb-icon-height: 58px;
$s-rospotreb-icon-total-width: 357px;
$s-rospotreb-icon-total-height: 316px;
$s-rospotreb-icon-image: '../img/png-sprite.png';
$s-rospotreb-icon: (58px, 200px, -58px, -200px, 58px, 58px, 357px, 316px, '../img/png-sprite.png', 's-rospotreb-icon', );
$s-serv-icon-name: 's-serv-icon';
$s-serv-icon-x: 172px;
$s-serv-icon-y: 258px;
$s-serv-icon-offset-x: -172px;
$s-serv-icon-offset-y: -258px;
$s-serv-icon-width: 54px;
$s-serv-icon-height: 54px;
$s-serv-icon-total-width: 357px;
$s-serv-icon-total-height: 316px;
$s-serv-icon-image: '../img/png-sprite.png';
$s-serv-icon: (172px, 258px, -172px, -258px, 54px, 54px, 357px, 316px, '../img/png-sprite.png', 's-serv-icon', );
$s-serv01-name: 's-serv01';
$s-serv01-x: 318px;
$s-serv01-y: 81px;
$s-serv01-offset-x: -318px;
$s-serv01-offset-y: -81px;
$s-serv01-width: 32px;
$s-serv01-height: 43px;
$s-serv01-total-width: 357px;
$s-serv01-total-height: 316px;
$s-serv01-image: '../img/png-sprite.png';
$s-serv01: (318px, 81px, -318px, -81px, 32px, 43px, 357px, 316px, '../img/png-sprite.png', 's-serv01', );
$s-serv02-name: 's-serv02';
$s-serv02-x: 318px;
$s-serv02-y: 42px;
$s-serv02-offset-x: -318px;
$s-serv02-offset-y: -42px;
$s-serv02-width: 39px;
$s-serv02-height: 39px;
$s-serv02-total-width: 357px;
$s-serv02-total-height: 316px;
$s-serv02-image: '../img/png-sprite.png';
$s-serv02: (318px, 42px, -318px, -42px, 39px, 39px, 357px, 316px, '../img/png-sprite.png', 's-serv02', );
$s-serv03-name: 's-serv03';
$s-serv03-x: 318px;
$s-serv03-y: 0px;
$s-serv03-offset-x: -318px;
$s-serv03-offset-y: 0px;
$s-serv03-width: 39px;
$s-serv03-height: 42px;
$s-serv03-total-width: 357px;
$s-serv03-total-height: 316px;
$s-serv03-image: '../img/png-sprite.png';
$s-serv03: (318px, 0px, -318px, 0px, 39px, 42px, 357px, 316px, '../img/png-sprite.png', 's-serv03', );
$s-serv04-name: 's-serv04';
$s-serv04-x: 318px;
$s-serv04-y: 196px;
$s-serv04-offset-x: -318px;
$s-serv04-offset-y: -196px;
$s-serv04-width: 33px;
$s-serv04-height: 36px;
$s-serv04-total-width: 357px;
$s-serv04-total-height: 316px;
$s-serv04-image: '../img/png-sprite.png';
$s-serv04: (318px, 196px, -318px, -196px, 33px, 36px, 357px, 316px, '../img/png-sprite.png', 's-serv04', );
$s-serv05-name: 's-serv05';
$s-serv05-x: 226px;
$s-serv05-y: 258px;
$s-serv05-offset-x: -226px;
$s-serv05-offset-y: -258px;
$s-serv05-width: 45px;
$s-serv05-height: 37px;
$s-serv05-total-width: 357px;
$s-serv05-total-height: 316px;
$s-serv05-image: '../img/png-sprite.png';
$s-serv05: (226px, 258px, -226px, -258px, 45px, 37px, 357px, 316px, '../img/png-sprite.png', 's-serv05', );
$s-serv06-name: 's-serv06';
$s-serv06-x: 318px;
$s-serv06-y: 160px;
$s-serv06-offset-x: -318px;
$s-serv06-offset-y: -160px;
$s-serv06-width: 33px;
$s-serv06-height: 36px;
$s-serv06-total-width: 357px;
$s-serv06-total-height: 316px;
$s-serv06-image: '../img/png-sprite.png';
$s-serv06: (318px, 160px, -318px, -160px, 33px, 36px, 357px, 316px, '../img/png-sprite.png', 's-serv06', );
$s-serv07-name: 's-serv07';
$s-serv07-x: 318px;
$s-serv07-y: 232px;
$s-serv07-offset-x: -318px;
$s-serv07-offset-y: -232px;
$s-serv07-width: 31px;
$s-serv07-height: 38px;
$s-serv07-total-width: 357px;
$s-serv07-total-height: 316px;
$s-serv07-image: '../img/png-sprite.png';
$s-serv07: (318px, 232px, -318px, -232px, 31px, 38px, 357px, 316px, '../img/png-sprite.png', 's-serv07', );
$s-serv08-name: 's-serv08';
$s-serv08-x: 318px;
$s-serv08-y: 124px;
$s-serv08-offset-x: -318px;
$s-serv08-offset-y: -124px;
$s-serv08-width: 33px;
$s-serv08-height: 36px;
$s-serv08-total-width: 357px;
$s-serv08-total-height: 316px;
$s-serv08-image: '../img/png-sprite.png';
$s-serv08: (318px, 124px, -318px, -124px, 33px, 36px, 357px, 316px, '../img/png-sprite.png', 's-serv08', );
$s-serv09-name: 's-serv09';
$s-serv09-x: 318px;
$s-serv09-y: 270px;
$s-serv09-offset-x: -318px;
$s-serv09-offset-y: -270px;
$s-serv09-width: 36px;
$s-serv09-height: 30px;
$s-serv09-total-width: 357px;
$s-serv09-total-height: 316px;
$s-serv09-image: '../img/png-sprite.png';
$s-serv09: (318px, 270px, -318px, -270px, 36px, 30px, 357px, 316px, '../img/png-sprite.png', 's-serv09', );
$s-tech-documentation-icon-name: 's-tech-documentation-icon';
$s-tech-documentation-icon-x: 58px;
$s-tech-documentation-icon-y: 258px;
$s-tech-documentation-icon-offset-x: -58px;
$s-tech-documentation-icon-offset-y: -258px;
$s-tech-documentation-icon-width: 58px;
$s-tech-documentation-icon-height: 58px;
$s-tech-documentation-icon-total-width: 357px;
$s-tech-documentation-icon-total-height: 316px;
$s-tech-documentation-icon-image: '../img/png-sprite.png';
$s-tech-documentation-icon: (58px, 258px, -58px, -258px, 58px, 58px, 357px, 316px, '../img/png-sprite.png', 's-tech-documentation-icon', );
$s-vk-name: 's-vk';
$s-vk-x: 318px;
$s-vk-y: 300px;
$s-vk-offset-x: -318px;
$s-vk-offset-y: -300px;
$s-vk-width: 22px;
$s-vk-height: 14px;
$s-vk-total-width: 357px;
$s-vk-total-height: 316px;
$s-vk-image: '../img/png-sprite.png';
$s-vk: (318px, 300px, -318px, -300px, 22px, 14px, 357px, 316px, '../img/png-sprite.png', 's-vk', );
$spritesheet-width: 357px;
$spritesheet-height: 316px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-advantages-icon, $s-advantages01, $s-advantages02, $s-advantages03, $s-certification-icon, $s-face-consult, $s-feat-icon, $s-fire-safety-icon, $s-hamburger-close, $s-hamburger, $s-industrial-safety-icon, $s-iso-icon, $s-loupe, $s-map-icon, $s-news-prefix, $s-other-services-icon, $s-product-testing-icon, $s-quality-system-icon, $s-review-icon, $s-review-img, $s-rospotreb-icon, $s-serv-icon, $s-serv01, $s-serv02, $s-serv03, $s-serv04, $s-serv05, $s-serv06, $s-serv07, $s-serv08, $s-serv09, $s-tech-documentation-icon, $s-vk, );
$spritesheet: (357px, 316px, '../img/png-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
