/*
  Project variables
  =================
*/


/*
  Flex Sass grid generator variables
  ==================================

  [flex-sass-grid-generator](https://github.com/Enkil/flex-sass-grid-generator)

*/

$base-font-size:              16px;
$grid-columns:                12 !default;
$grid-gutter-width:           1.25rem !default; // 20px

$screen-xs:                   0; // Extra small screen / phone
$screen-sm:                   480px; // Small screen / phone
$screen-md:                   760px; // Medium screen / tablet
$screen-lg:                   992px; // Large screen / desktop
$screen-xl:                   1080px; // Extra large screen / wide desktop

$container-max-widths: (
        sm:                   480px,
        md:                   760px,
        lg:                   992px,
        xl:                   1080px
) !default;


$grid-breakpoints: (
        xs:                   0,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1280px
) !default;

/*
  Sass MQ variables
  =================

  [sass-mq](https://github.com/sass-mq/sass-mq)
*/

$mq-breakpoints: (
        xs:                   0px,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1280px
) !default;



//------------------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------------------


// Color table

$white:                       #ffffff;
$black:                       #010101;
$light-blue:                  #33bee5;
$green:                       #00c96d;
$dark-green:                  #0da15d;;
$btn-blue:                    #0054a6;
$btn-border:                  #2e3c88;
$grey:                        #424347;
$breadcrumbs-grey:            #989898;
$lightest_grey:               #cccccc;
$light-grey:                  #f5f5fa;
$dark-grey:                   #303030;
$border-grey:                 #bebebe;

$success:                     #5cb85c;
$error:                       #d9534f;


// Colors in use

$body-bg:                     $white;
$grey-bg:                     $light-grey;
$text-color:                  $black;

$link-color:                  $text-color;
$link-color--hover:           $light-blue;

$text-color-white:            $white;
$link-color-white:            $text-color-white;
$link-color-white--hover:     darken($link-color-white, 20%);



//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------

$font-family:                 "Open Sans", Helvetica, Arial, sans-serif;
$arial:                        Arial, "Helvetica Neue", Helvetica, sans-serif;
//$font-family--serif:          Georgia, "Times New Roman", Times, serif;
//$font-family--monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;


$font-size:                   18px;
$font-size-small:             13px;
$font-size-smaller:           12px;

$font-size-tel1:              15px;
$font-size-tel2:              21px;

$font-size-promo:             16px;
$font-size-h1:                36px;

$font-size-title:             18px;
$font-size-subtitle:          20px;
$font-size-content:           14px;
$font-size-news-title:        16px;

$font-size-directions:        12px;
$font-size-ask:               22px;

$font-size-text:              16px;


$line-height:                 1.4em;

$regular:                     400;
$semibold:                    600;
$bold:                        700;


