include ../abstracts/bemto/bemto.pug

//About Us Features
+b.SECTION.about-us-features(itemscope itemtype="http://schema.org/Article")
  .container
    .row.row--stripe(itemprop="articleBody")
      .col-xs-12.col-md-6
        +e.P.motto(itemprop="about") Whether it’s the research and evaluation done by our investment professionals, or the dedicated care of our world-class customer support specialists, the people behind our technology make all the difference.
      .col-xs-12.col-md-6
        +e.P.text We knew that by aligning our incentives with our customers, without compromise, we could build something truly significant. With that in mind, we set out to deliver sophisticated financial products and advice to everyone.
        +e.P.text We knew that the way to build a better solution was through the use of smarter technology. We built an experience that replaced confusion with delight, and uncertainty with control.
        +e.P.text We’re aiming to bring back the feeling of defined benefits, and the financial peace of mind that goes with it. We envision a world where you can be confident of reaching your goals, whatever they may be.
    .row
      .col-xs-12.col-md-6
        +e.H2.title Fintech at a Glance
        +e.P.text The numbers that matter, they shape everything we do.
      .col-xs-12.col-md-6
        +e.TABLE.list
          +e.TR.item
            +e.TH.number 150
            +e.TD.about Team members worldwide
          +e.TR.item
            +e.TH.number 19 countries
            +e.TD.about in which Fintech operates
          +e.TR.item
            +e.TH.number 43 funds
            +e.TD.about sponsored since 2012
          +e.TR.item
            +e.TH.number 21 years
            +e.TD.about of operation since 1995