include ../abstracts/bemto/bemto.pug

//Contact Us
+b.SECTION.contact(itemscope itemtype="http://schema.org/Organization")
  .container
    .row
      .col-xs-12
        +e.header
          +e.H1.title Contact Us
          +e.P.promo-text We’d love to chat.
            span Send us a message and we’ll get back to you in one business day. You can also give us a ring at +44 345 67890.
      .col-xs-12.col-md-4
        +e.inner
          +e.H2.subtitle(itemprop="department") NEW BUSINESS
          +e.P.text Looking for a financial partner? Want to know more about Fintech? Let’s chat.
          +e.A.mail(href="mailto:example@mail.com" itemprop="email") business@yoursite.com
      .col-xs-12.col-md-4
        +e.inner
          +e.H2.subtitle(itemprop="department") CAREERS
          +e.P.text We’re always looking for amazing talent in each of our offices. Introduce yourself.
          +e.A.mail(href="mailto:example@mail.com" itemprop="email") careers@yoursite.com
      .col-xs-12.col-md-4
        +e.inner
          +e.H2.subtitle(itemprop="department") GENERAL
          +e.P.text Speaking engagements, media inquiries, and everything else. Drop us a line.
          +e.A.mail(href="mailto:example@mail.com" itemprop="email") hello@yoursite.com
      .col-xs-12.col-md-4
        +e.inner
          +e.H2.subtitle(itemprop="department") NEW BUSINESS
          +e.P.text Looking for a financial partner? Want to know more about Fintech? Let’s chat.
          +e.A.mail(href="mailto:example@mail.com" itemprop="email") hello@yoursite.com
      .col-xs-12.col-md-4
        +e.inner
          +e.H2.subtitle(itemprop="department") NEW BUSINESS
          +e.P.text Looking for a financial partner? Want to know more about Fintech? Let’s chat.
          +e.A.mail(href="mailto:example@mail.com" itemprop="email") hello@yoursite.com
      .col-xs-12.col-md-4
        +e.inner
          +e.H2.subtitle(itemprop="department") NEW BUSINESS
          +e.P.text Looking for a financial partner? Want to know more about Fintech? Let’s chat.
          +e.A.mail(href="mailto:example@mail.com" itemprop="email") hello@yoursite.com
+b.SECTION.map
  .container
    .row
      .col-xs-12
        +e.H2.title Свяжитесь с нами
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.8525013344206!2d30.296210416097466!3d59.95118128188074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631392ced7d51%3A0x49c563975e6dfed1!2z0YPQuy4g0K_QsdC70L7Rh9C60L7QstCwLCAxMiwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5NzE5OA!5e0!3m2!1sru!2sru!4v1475066286509" frameborder="0" style="border:0")