include ../abstracts/bemto/bemto.pug

//Features
+b.SECTION.features
  .container
    .row
      .col-xs-12.col-md-4
        +e.inner
          i.ion-ios-paperplane-outline
          +e.A.title(href="#") Миу миу
          +e.P.text Take a look at our offerings, from advice to streamlining your investment portfolio you’re in good hands.
      .col-xs-12.col-md-4
        +e.inner
          i.ion-ios-chatbubble-outline
          +e.A.title(href="#") Гав гав
          +e.P.text See how Fintech has transformed the everyday operations of small businesses all over the world.
      .col-xs-12.col-md-4
        +e.inner
          i.ion-ios-email-outline
          +e.A.title(href="#") Пиу пиу
          +e.P.text We’d love to chat about how we can transform your finances. Email us and we’ll get back to you within 24 hours.