include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer.container
  +e.inner
    // Logo
    +b.logo
      +e.A.img(href="index.html")
        img(src="img/logo.png", alt="logo", title="logo")
      +e.P.title Мостест
      +e.P.description Центр сертификации



