include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  .container
    .row
      .col-xs-12.col-lg-4
        // Logo
        +b.logo--footer
          +e.A.img(href="index.html")
            img(src="img/Logo.png", alt="logo", title="logo")
        +e.P.text We’re aiming to bring back the feeling of defined benefits, and the financial peace of mind that goes with it. We envision a world where you can be confident of reaching your goals, whatever they may be.
        +e.P.text Edit within: Appearance > Widgets > Second Footer
        +e.P.text © 2016 Your Site Name
      .col-xs-12.col-lg-4
        +e.H3.title ИССЛЕДУЙТЕ
        +e.UL.list
          +e.LI.item
            a(href="index.html") Главная
          +e.LI.item
            a(href="about-us.html") О компании
          +e.LI.item
            a(href="faq.html") FAQ
          +e.LI.item
            a(href="what-we-do.html") Мы предлагаем
          +e.LI.item
            a(href="reviews.html") Отзывы
          +e.LI.item
            a(href="services.html") Услуги
          +e.LI.item
            a(href="news.html") Новости
          +e.LI.item
            a(href="contact.html") Конакты
      .col-xs-12.col-lg-4
        +e.H3.title ПОДПИСКА
        +e.FORM.form
          +e.INPUT.input(type="email" name="email" placeholder="Your email adress")
          +e.BUTTON.btn Sign Up
        +e.P.text Sign up today for hints, tips and the latest product news - plus exclusive special offers.


