include ../abstracts/bemto/bemto.pug

//Logo-slider
.logo-slider__border
+b.SECTION.logo-slider--first.container
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
+b.SECTION.logo-slider--second.container
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")
  +e.A.img(href="#")
    img(src="img/cat-face.png")