include ../abstracts/bemto/bemto.pug

///News
+b.SECTION.news
  .container
    .row.row-border
      .col-xs-12.col-md-6
        +e.H2.title Последние новости
      .col-xs-12.col-md-6
        +e.btn-inner
          +e.A.btn(href="page.html") Блог
    .row.row-top
      .col-xs-12.col-md-3
        +e.inner
          +e.A.subtitle(href="page.html") Привет, мир!
          +e.P.date 27.06.2016
      .col-xs-12.col-md-3
        +e.inner
          +e.A.subtitle(href="page.html") The New Fintech Disruptors: How Can you Benefit?
          +e.P.date 19.03.2016
      .col-xs-12.col-md-3
        +e.inner
          +e.A.subtitle(href="page.html") Robo-Advisors and Banks: The Next Robo-Frontier
          +e.P.date 18.03.2016
      .col-xs-12.col-md-3
        +e.inner--last
          +e.A.subtitle(href="page.html") 3 Ways Technology Will Change Your Finances
          +e.P.date 17.03.2016