include ../abstracts/bemto/bemto.pug

//Page Services
+b.SECTION.page-services
  .container
    .row
      .col-xs-12.col-lg-8
        +e.P.promo-title Whether it’s the research and evaluation done by our investment professionals, or the dedicated care of our world-class customer support specialists, the people behind our technology make all the difference.
        .row
          .col-xs-12.col-lg-4
            +e.A.img(href="#")
              img(src="img/news1.jpg" alt="news")
            +e.A.title(href="#") Cертификация качества
            +e.P.text We’ll tell you how to allocate your money across stocks and bonds and how much to invest each month and year.
          .col-xs-12.col-lg-4
            +e.A.img(href="#")
              img(src="img/news2.jpg" alt="news")
            +e.A.title(href="#") Категория услуг 2
            +e.P.text We always invest the trust in a risk-adjusted, globally diversified investment portfolio of low-cost ETFs to maximize returns.
          .col-xs-12.col-lg-4
            +e.A.img(href="#")
              img(src="img/news3.jpg" alt="news")
            +e.A.title(href="#") Cертификация качества
            +e.P.text We’ll tell you how to allocate your money across stocks and bonds and how much to invest each month and year.
          .col-xs-12.col-lg-4
            +e.A.img(href="#")
              img(src="img/news4.jpg" alt="news")
            +e.A.title(href="#") Cертификация качества
            +e.P.text We’ll tell you how to allocate your money across stocks and bonds and how much to invest each month and year.
          .col-xs-12.col-lg-4
            +e.A.img(href="#")
              img(src="img/news5.jpg" alt="news")
            +e.A.title(href="#") Cертификация качества
            +e.P.text We’ll tell you how to allocate your money across stocks and bonds and how much to invest each month and year.
          .col-xs-12.col-lg-4
            +e.A.img(href="#")
              img(src="img/news6.jpg" alt="news")
            +e.A.title(href="#") Cертификация качества
            +e.P.text We’ll tell you how to allocate your money across stocks and bonds and how much to invest each month and year.
      .col-xs-12.col-lg-4
        +b.ASIDE.services-aside
          +e.H2.title Категории услуг
          +e.link-wrapper
            +e.A.link(href="#") Cертификация качества
            +e.A.link(href="#") Категория услуг 2
          +e.A.wrapper(href="#")
            .row
              .col-xs-4
                +e.img
                  img(src="img/news6.jpg" alt="news")
              .col-xs-8
                +e.H3.wrapper-title How can we help?
                +e.P.wrapper-text We'd be delighted to assist with anything.
          +e.A.wrapper(href="#")
            .row
              .col-xs-4
                +e.img
                  img(src="img/news5.jpg" alt="news")
              .col-xs-8
                +e.H3.wrapper-title Frequent Questions
                +e.P.wrapper-text Your most common queries answered.
          +e.H2.title--second Последние новости
          +e.A.news-title(href="#") Привет, мир!
          +e.P.date 27.06.2016
          +e.A.news-title(href="#") The New Fintech Disruptors: How Can you Benefit?
          +e.P.date 19.03.2016
          +e.A.news-title(href="#") Robo-Advisors and Banks: The Next Robo-Frontier
          +e.P.date 18.03.2016