include ../abstracts/bemto/bemto.pug

//Page Services
+b.SECTION.page(itemscope itemtype="http://schema.org/Article")
  .container
    .row
      .col-xs-12.col-lg-8(itemprop="articleBody")
        +e.P.promo-text A rowing number of them are prioritizing technology investments, which means advisors who aren’t risking falling behind the curve in productivity and quality of service. According to a recent survey by Financial Planning, zero advisors plan to cut their technology budgets and half plan to increase their spending this year.
        +e.P.text Advisors that are less productive and those that offer fewer features than the competition tend to lose out on business. Here’s why keeping up with technology is imperative for financial advisors.
        +e.img
          img(src="img/7.jpg" alt="img")
        +e.H2.title What Tech Will Do
        +e.P.text Robo-advisors have raised the bar for financial advisors. In addition to cannibalizing potential clients, the technology is rapidly changing client expectations. A recent survey found that 80% of high net worth individuals under 40 years old would leave a firm that did not integrate new technology like the automated wealth management services provided by robos. Online portals and mobile access to financial accounts and services are quickly moving from a novelty to a necessity for clients, which means advisors ignoring them could be on the chopping block.
        +e.H3.title-h3 Заголовок 3
        +e.H4.title-h4 Заголовок 4
        +e.H5.title-h3 Заголовок 5
        blockquote Technology may be costly to implement and time consuming to learn—and that discourages many financial advisors from deploying much-needed solutions. But headline costs aren’t a complete picture when factoring in things like cost savings and opportunity costs.
        cite Jane Doe
        +e.H2.title What Tech Will Do
        +e.P.text Robo-advisors have raised the bar for financial advisors. In addition to cannibalizing potential clients, the technology is rapidly changing client expectations. A recent survey found that 80% of high net worth individuals under 40 years old would leave
          a(href="page.html") a firm that did not
        | integrate new technology like the automated wealth management services provided by robos. Online portals and mobile access to financial accounts and services are quickly moving from a novelty to a necessity for clients, which means advisors ignoring them could be on the chopping block.
        ul
          li ignoring them could be on the chopping block.
          li ignoring them could be on the chopping block.
          li ignoring them could be on the chopping block.
          li ignoring them could be on the chopping block.
          li ignoring them could be on the chopping block.
          li ignoring them could be on the chopping block
            ul
              li ignoring them could be on the chopping block.
              li ignoring them could be on the chopping block.
              li ignoring them could be on the chopping block.
              li ignoring them could be on the chopping block.
        +e.H2.title What Tech Will Do
        +e.P.text Robo-advisors have raised the bar for financial advisors. In addition to cannibalizing potential clients, the technology is rapidly changing client expectations. A recent survey found that 80% of high net worth individuals under 40 years old would leave a firm that did not integrate new technology like the automated wealth management services provided by robos. Online portals and mobile access to financial accounts and services are quickly moving from a novelty to a necessity for clients, which means advisors ignoring them could be on the chopping block.
        ol
          li ignoring them could be on the chopping block.
          li ignoring them could be on the chopping block.
          li ignoring them could be on the chopping block.
          li ignoring them could be on the chopping block.
      .col-xs-12.col-lg-4
        +b.ASIDE.services-aside--news
          +e.FORM.form
            +e.INPUT.input(type="text" name="Поиск" placeholder="Поиск...")
          +e.H2.title Категории услуг
          +e.link-wrapper
            +e.A.link(href="page.html") Cертификация качества
            +e.A.link(href="page.html") Категория услуг 2
          +e.H2.title Свежие записи
          +e.link-wrapper
            +e.A.link(href="page.html") The New Fintech Disruptors: How Can you Benefit?
            +e.A.link(href="page.html") Robo-Advisors and Banks: The Next Robo-Frontier
            +e.A.link(href="page.html") 3 Ways Technology Will Change Your Finances
            +e.A.link(href="page.html") 3 Ways Technology Will Change Your Finances
          +e.H2.title Архивы
          +e.link-wrapper
            +e.A.link(href="page.html") Июнь 2016
            +e.A.link(href="page.html") Март 2016
          +e.H2.title Рубрики
          +e.link-wrapper
            +e.A.link(href="page.html") General
            +e.A.link(href="page.html") Investing
            +e.A.link(href="page.html") Retirement
            +e.A.link(href="page.html") Technology
          +e.H2.title Мета
          +e.link-wrapper
            +e.A.link(href="page.html") Войти
            +e.A.link(href="page.html") RSS записей
            +e.A.link(href="page.html") RSS комментариев
            +e.A.link(href="page.html") WordPress.org
          +e.H2.title--second Последние новости
          +e.A.news-title(href="#") Привет, мир!
          +e.P.date 27.06.2016
          +e.A.news-title(href="#") The New Fintech Disruptors: How Can you Benefit?
          +e.P.date 19.03.2016
          +e.A.news-title(href="#") Robo-Advisors and Banks: The Next Robo-Frontier
          +e.P.date 18.03.2016