include ../abstracts/bemto/bemto.pug

//Page Services
+b.SECTION.faq
  .container
    .row
      .col-xs-12.col-lg-8
        +e.H2.title If you’ve any questions that aren’t answered in our FAQ guide below don’t hesitate to contact us and we’ll get right back to you
        +e.accordion
          +e.box
            +e.H4.subtitle.subtitle-close Who can file a freight claim?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close Why do I need to provide a copy of the shipper's invoice?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close What if I discovered concealed damages after delivery?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close Who can file a freight claim?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close Who can file a freight claim?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
          +e.box
            +e.H4.subtitle.subtitle-close Who can file a freight claim?
            +e.P.subtext Either the shipper, consignee, billing party or a third party logistics company may file a freight claim against a shipment, however only one claim per shipment maybe honored by the carri
      .col-xs-12.col-lg-4
        +b.ASIDE.services-aside
          +e.H2.title Категории услуг
          +e.link-wrapper
            +e.A.link(href="#") Cертификация качества
            +e.A.link(href="#") Категория услуг 2
          +e.A.wrapper(href="#")
            .row
              .col-xs-4
                +e.img
                  img(src="img/news6.jpg" alt="news")
              .col-xs-8
                +e.H3.wrapper-title How can we help?
                +e.P.wrapper-text We'd be delighted to assist with anything.
          +e.A.wrapper(href="#")
            .row
              .col-xs-4
                +e.img
                  img(src="img/news5.jpg" alt="news")
              .col-xs-8
                +e.H3.wrapper-title Frequent Questions
                +e.P.wrapper-text Your most common queries answered.
          +e.H2.title--second Последние новости
          +e.A.news-title(href="#") Привет, мир!
          +e.P.date 27.06.2016
          +e.A.news-title(href="#") The New Fintech Disruptors: How Can you Benefit?
          +e.P.date 19.03.2016
          +e.A.news-title(href="#") Robo-Advisors and Banks: The Next Robo-Frontier
          +e.P.date 18.03.2016