include ../abstracts/mixins/_newsItem.pug
include ../abstracts/bemto/bemto.pug

//Page News
+b.SECTION.page-news
  .container
    .row
      .col-xs-12.col-md-4
        +newsItem('1.jpg',
        '19.03.2016',
        'The New Fintech Disruptors: How Can you Benefit?')
      .col-xs-12.col-md-4
        +newsItem('2.jpg',
        '19.03.2016',
        'Robo-Advisors and Banks: The Next Robo-Frontier')
      .col-xs-12.col-md-4
        +newsItem('3.jpg',
        '19.03.2016',
        '3 Ways Technology Will Change Your Finances')
      .col-xs-12.col-md-4
        +newsItem('3.jpg',
        '19.03.2016',
        'Why Staying Ahead Of Tech is More Vital than Ever')
      .col-xs-12.col-md-4
        +newsItem('2.jpg',
        '19.03.2016',
        'The Fintech outlook looks positive for the coming year')
      .col-xs-12.col-md-4
        +newsItem('1.jpg',
        '19.03.2016',
        'Top Tips on How to Retire from the Professionals')
      .col-xs-12.col-md-4
        +newsItem('1.jpg',
        '19.03.2016',
        'How Technology Is Disrupting the Insurance Industry')
      .col-xs-12.col-md-4
        +newsItem('2.jpg',
        '19.03.2016',
        'The New Fintech Disruptors: How Can you Benefit?')