include ../abstracts/bemto/bemto.pug

//Place To Work
+b.SECTION.place-to-work
  .container
    .row
      .col-xs-12.col-md-6.col-lg-4
        +e.wrapper
          +e.H2.title A Great Place to Work
          +e.P.text Here’s the secret sauce to our benefits and perks: It’s all about removing barriers so staff can focus on the things they love, both inside and outside of work. We’re constantly searching for unique ways to improve your health and happiness.
          +e.A.link(href="#") Discover more