include ../abstracts/bemto/bemto.pug

//Promo-slider
+b.SECTION.promo-slider
  +e.wrapper--first
    .container
      .row
        .col-xs-12
          +e.H2.title We created a company.
            <br>It changed an industry.
          +e.P.text Whether it's the research and evaluation done by our financial specialists,
            <br> the people behind our technology make all the difference.
          +e.A.btn(href="page.html") More about us
  +e.wrapper--second
    .container
      .row
        .col-xs-12
          +e.H2.title Fintech. It's all
            <br> coming together.
          +e.P.text Fintech makes managing your personal finances a cinch. Be the master
            <br> of your money so you can get more out of life
          +e.A.btn(href="page.html") More about us
  +e.wrapper--third
    .container
      .row
        .col-xs-12
          +e.H2.title Experts are behind
            <br> everything we do.
          +e.P.text Whether it's the research and evaluation done by our financial specialists,
            <br> the people behind our technology make all the difference.
          +e.A.btn(href="page.html") More about us