include ../abstracts/bemto/bemto.pug

//Reviews
+b.SECTION.reviews
  .container
    .row
      .col-xs-12
        +e.header
          +e.H1.title Клиенты о нас
          +e.P.promo-text Our users love Fintech and how it has helped transform their investment portfolios.
      .col-xs-12.col-md-4
        +e.inner
          +e.P.item--italic «I love the fact Fintech is user friendly and so customer-focused that my suggestions are embraced and listened to.»
          +e.P.name Richard Scholl
      .col-xs-12.col-md-8
        +e.wide-img
          img(src="img/rev1.jpg" alt="rev")
      .col-xs-12
        +e.separator
      .col-xs-12.col-md-4
        +e.wrapper
          +e.img
            img(src="img/rev2.jpg" alt="rev")
          +e.P.item «Fintech is often a source of inspiration – it simplifies our finances and makes a usually complicated process easy.»
          +e.P.name Natalie Williams
      .col-xs-12.col-md-4
        +e.wrapper
          +e.img
            img(src="img/rev3.jpg" alt="rev")
          +e.P.item «Fintech is often a source of inspiration – it simplifies our finances and makes a usually complicated process easy.»
          +e.P.name Natalie Williams
      .col-xs-12.col-md-4
        +e.wrapper
          +e.img
            img(src="img/rev4.jpg" alt="rev")
          +e.P.item «Fintech is often a source of inspiration – it simplifies our finances and makes a usually complicated process easy.»
          +e.P.name Natalie Williams
      .col-xs-12.col-md-4
        +e.wrapper
          +e.img
            img(src="img/rev7.jpg" alt="rev")
          +e.P.item «Fintech is often a source of inspiration – it simplifies our finances and makes a usually complicated process easy.»
          +e.P.name Natalie Williams
      .col-xs-12.col-md-4
        +e.wrapper
          +e.img
            img(src="img/rev5.jpg" alt="rev")
          +e.P.item «Fintech is often a source of inspiration – it simplifies our finances and makes a usually complicated process easy.»
          +e.P.name Natalie Williams
      .col-xs-12.col-md-4
        +e.wrapper
          +e.img
            img(src="img/rev6.jpg" alt="rev")
          +e.P.item «Fintech is often a source of inspiration – it simplifies our finances and makes a usually complicated process easy.»
          +e.P.name Natalie Williams