include ../abstracts/bemto/bemto.pug

//Solutions
+b.SECTION.solutions
  .container
    .row
      .col-xs-12
        +e.H2.title Редактируемый текст
      .col-xs-12.col-md-6.col-xl-3
        +e.item
          +e.A.img(href="page.html")
            img(src="img/4.jpg" alt="4")
          +e.A.subtitle(href="#") Financial Help
          +e.P.text We’ll advise you how to allocate your capital across stocks and bonds as well as how much to invest each month and year.
      .col-xs-12.col-md-6.col-xl-3
        +e.item
          +e.A.img(href="page.html")
            img(src="img/5.jpg" alt="5")
          +e.A.subtitle(href="#") Retirement
          +e.P.text Our investment approach for retirement is based on extensive research and backtested to provide a tailored experience.
      .col-xs-12.col-md-6.col-xl-3
        +e.item
          +e.A.img(href="page.html")
            img(src="img/6.jpg" alt="6")
          +e.A.subtitle(href="#") Wealth Advice
          +e.P.textWe We can help you establish a robust financial foundation while providing the ongoing advice you need to preserve and enhance your wealth.
      .col-xs-12.col-md-6.col-xl-3
        +e.inner
          +e.title-box
            +e.H2.inner-title What We Do
          +e.P.text We’re aiming to bring back the feeling of defined benefits, and the financial peace of mind that goes with it. We envision a world where you can be confident of reaching your goals, whatever they may be.
          +e.link-box
            +e.A.link(href="page.html") Our Capabilities →
        +e.inner
          +e.title-box
            +e.H2.inner-title Reliable & Trustworthy
          +e.P.text Whether it’s the research and evaluation done by our investment professionals, or the dedicated care of our world-class customer support specialists, the people behind our technology make all the difference.
          +e.link-box
            +e.A.link(href="page.html") About Us →